{
  "swagger": "2.0",
  "info": {
    "title": "API Evangelist - Support API",
    "description": "I work to keep all the changes I make to each API self contained within each project repository. I use the Github support management for organizing my road map, support, and change log. This is just a static cache of the Github support for this project.",
    "termsOfService": "http://kinlane.com/terms-of-service.html",
    "version": "v1"
  },
  "host": "support.api.apievangelist.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/support/": {
      "get": {
        "summary": "Get Support",
        "description": "retrieves all support entries",
        "operationId": "getSupport",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across support entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the support entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "support response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/support"
              }
            }
          }
        },
        "tags": [
          "Support"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "Add Support",
        "description": "add support",
        "operationId": "addChangeLog",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host of the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the support entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "support response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/support"
              }
            }
          }
        },
        "tags": [
          "Support"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/support/{support_id}/": {
      "delete": {
        "summary": "Delete Support",
        "description": "delete an support entry",
        "operationId": "deleteChangeLog",
        "parameters": [
          {
            "in": "path",
            "name": "support_id",
            "description": "id for the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the support entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "support response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/support"
              }
            }
          }
        },
        "tags": [
          "Support"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "get": {
        "summary": "Get Support",
        "description": "retrieve a specific support entry",
        "operationId": "getChangeLogEntry",
        "parameters": [
          {
            "in": "path",
            "name": "support_id",
            "description": "id for the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "support response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/support"
              }
            }
          }
        },
        "tags": [
          "Support"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "Update Support",
        "description": "update an support entry",
        "operationId": "updateChangeLog",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the support entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "support response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/support"
              }
            }
          }
        },
        "tags": [
          "Support"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/support/{support_id}/keys/": {
      "post": {
        "summary": "Add Support Key",
        "description": "Add support key",
        "operationId": "addChangeLogKey",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "support_id",
            "description": "unique id of the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the support entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the support entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "support response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keys"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/support/{host}/default/": {
      "post": {
        "summary": "Set Default Support For Host",
        "description": "set default support for host",
        "operationId": "setDefaultChangeLogForHost",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "support_id",
            "description": "unique id of the support entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the support entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the support entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "support response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/support"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/support/{host}/": {
      "get": {
        "summary": "Get Support by Host",
        "description": "retrieves all support entries by host",
        "operationId": "getSupport",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across support entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the support entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "support response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/support"
              }
            }
          }
        },
        "tags": [
          "Support"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "definitions": {
    "support": {
      "properties": {
        "support_id": {
          "description": "The unique id for the support entry.",
          "type": "string"
        },
        "title": {
          "description": "The title for the support entry.",
          "type": "string"
        },
        "image": {
          "description": "The image for the support entry.",
          "type": "string"
        },
        "header": {
          "description": "The header for the support entry.",
          "type": "string"
        },
        "footer": {
          "description": "The footer for the support entry.",
          "type": "string"
        },
        "keys": {
          "description": "The keys for the support entry.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/keys"
          }
        }
      }
    },
    "keys": {
      "properties": {
        "key_id": {
          "description": "The unique id for the support key.",
          "type": "string"
        },
        "name": {
          "description": "The unique id for the support entry.",
          "type": "string"
        },
        "description": {
          "description": "The title for the support entry.",
          "type": "string"
        },
        "support_id": {
          "description": "The unique id for the support entry.",
          "type": "string"
        }
      }
    }
  }
}
